table{
  width:100%;
  th{
    text-align: center;
  }
  td{
    width:15%;
    text-align: center;
  }
}
.table-data{
  width: 100%;
}

.mat-elevation-z8{
  height: 425px;
  overflow: auto;
}

.mat-form-field{
  width: 100%;
}
